
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <div class="upimg-wrap">  
<img id="upimg">
    </div>


<div class="others-case">


<div class="white-wrap"> 
  <i class="material-icons white"></i>
</div>

<i class="material-icons md-75 black">crop_portrait</i>
<i class="material-icons md-75 silver">crop_portrait</i>
<i class="material-icons md-75 gold">crop_portrait</i>
<i class="material-icons md-75 wood">crop_portrait</i>
</div>

<div id="qty">
<div class="quantity">
  <input type="number" min="1" max="9" step="1" value="1">
</div>
<h3 style="  padding: 0px;   margin: 10px 5px;">$50</h3>
</div>




<script>
$(function(){
  
$('#upimg').attr('src', window.location.origin+'/'+pic)
})

  </script>



<br><br><br>

  <md-content layout-padding="">
    <div>
      <form name="userForm" id="checkout" method="post" action="payment/checkout">


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>First name</label>
            <input ng-model="user.firstName" name="first_name">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="" >
            <label>Last Name</label>
            <input ng-model="theMax" name="last_name">
          </md-input-container>
        </div>

         <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="user.email" type="email"  name="email">
        </md-input-container>

        </md-content>
        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="user.address"  name="street_address">
        </md-input-container>

        <md-input-container md-no-float="" class="md-block">
          <input ng-model="user.address2" placeholder="Address 2" name="extended_address">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>City</label>
            <input ng-model="user.city"  name="locality">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>State</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Postal Code</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"   name="postal_code" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>

        
<div id="dropin-container"></div>
<input type="submit" value="Buy Now">
      </form>
    </div>
  </md-content>


<script>

// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
function cw(){


braintree.setup(clientToken, "dropin", {
  container: "dropin-container"
});
console.log(clientToken)
}

$(function(){
  cw();









 
  $('.material-icons').click(function(){
    var coler = $(this).css('color');
    $('#upimg').css('border',"10px solid "+coler)
  })










    jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    jQuery('.quantity').each(function() {
      var spinner = jQuery(this),
        input = spinner.find('input[type="number"]'),
        btnUp = spinner.find('.quantity-up'),
        btnDown = spinner.find('.quantity-down'),
        min = input.attr('min'),
        max = input.attr('max');

      btnUp.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue >= max) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue + 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

      btnDown.click(function() {
        var oldValue = parseFloat(input.val());
        if (oldValue <= min) {
          var newVal = oldValue;
        } else {
          var newVal = oldValue - 1;
        }
        spinner.find("input").val(newVal);
        spinner.find("input").trigger("change");
      });

    });












 
})



  </script>